* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.app {
	display: flex;
	min-height: 100vh;
}

.menu-toggle {
	display: none;
	position: fixed;
	top: 2rem;
	right: 2rem;
	width: 60px;
	height: 60px;
	border-radius: 99px;
	background-color: #2e3047;
	cursor: pointer;
}

#sidebar-logo {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 60%;
    min-width: 50%;
    height: auto;
}

.hamburger {
	position: relative;
	top: calc(50% - 2px);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #FFF;
  transition-duration: .25s;
}

.hamburger > span::before {
  content: '';
  top: -8px;
}
.hamburger > span::after {
  content: '';
  top: 8px;
}
.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

.sidebar {
	flex: 1 1 0;
	max-width: 300px;
	padding: 2rem 1rem;
	background-color: #2e3047;
}

.sidebar h3 {
	color: #707793;
	font-size: 0.75rem;
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

.sidebar .menu {
	margin: 0 -1rem;
}

.sidebar .menu .menu-item {
	display: block;
	padding: 1em;
	color: #FFF;
	text-decoration: none;
	transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
	color: #3bba9c;
	border-right: 5px solid #3bba9c;
}

.sidebar .menu .menu-item:hover {
	border-right: 5px solid #3bba9c;
}

.content {
	flex: 1 1 0;
	display: flex;
    flex-direction: row-reverse;
}

.content h1 {
	color: #3C3F58;
	font-size: 2.5rem;
	margin-bottom: 1rem;
    padding: 20px;
}


#main {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    padding: 20px;
}

.post {
    background-color: #f9f0f0; 
    padding: 20px; 
    text-align: center; 
    border-radius: 5px; 
	height: 180px;
}

#suggested {
    margin-top: 36.5%;
	margin-left: 15px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

#suggested h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

#suggested-posts {
    max-height: 500px; 
    overflow-y: scroll; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

#suggested-posts::-webkit-scrollbar {
    display: none; 
}

.posts-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.posts-grid .post {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.posts-grid .post h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.posts-grid .post p {
    font-size: 14px;
    color: #555;
}


#news-column {
	margin-top: 47.5%;
	margin-left: 15px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

#news-column h2 {
    font-size: 20px;
    margin-bottom: 15px;
}



#news-list::-webkit-scrollbar {
    width: 5px;
}

#news-list::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 10px;
}

#news-list .news-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#news-list .news-item h3 {
    font-size: 16px;
    margin: 0 0 5px 0;
}

#news-list .news-item p {
    font-size: 14px;
    color: #555;
    margin: 0;
}

/* Responsywność */
@media (max-width: 1200px) {
    #main {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 900px) {
    #main {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    #main {
        grid-template-columns: 1fr; 
    }
}

.lazy {
    min-height: 150px;
    background-color: #eee;
}

@media (max-width: 1024px) {
	.sidebar {
		max-width: 200px;
	}

    #main {
        margin-left: 0;
        width: 100%;
    }
}

@media (max-width: 768px) {
	.menu-toggle {
		display: block;
	}
	.content {
		padding-top: 8rem;
	}
	.sidebar {
		position: fixed;
		top: 0;
		left: -300px;
		height: 100vh;
		width: 100%;
		max-width: 300px;
		transition: 0.2s linear;
	}

	.sidebar.is-active {
		left: 0;
	}

	.content {
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
	}

	#news-column{
		margin-top: 0;
		margin-left: 0;
	}
}